.background-image1 {
   background: url(../images/LexieBand.webp) no-repeat center;
   height: 100%; display: block; width: 100%;
   background-size: cover;
}
[data-bg-loaded] {
   height: 100%; display: block; width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
.background-image2,
.background-image3,
.background-image4,
.background-image5,
.background-image6,
.background-image7,
.background-image8,
.background-image9,
.background-image10,
.background-image14,
.background-image16 {
   height: 100%; display: block; width: 100%;
}
