@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --dark: #212121;
  --light: #efefef;
  --color: #b3e5fc;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark);
  margin: 0;
  padding: 0;
}

.container {
  color: var(--dark);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}


header {
  text-align: center;
  padding: 50px;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider img.active {
  opacity: 1;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.content h1 {
  font-weight: 300;
}

.logo-desktop {
  margin-bottom: 30px;
}

.welcome-text {
  position: absolute;
  top: -2em;
  /* Adjust this value to position the text above the logo */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

.logo-desktop {
  width: 80%;
  margin-top: 20px;
}

.menu {
  position: absolute;
  top: 20px;
  right: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 2;
}

.icon {
  position: relative;
  top: 20px;
  width: 35px;
  height: 4px;
  background-color: var(--light);
  /* White icon */
  transition: 0.5s;
}

.icon:before,
.icon:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: var(--light);
  /* White icon */
  transition: 0.5s;
}

.icon:before {
  transform: translateY(-10px);
}

.icon:after {
  transform: translateY(10px);
}

.menu.open .icon {
  background: transparent;
}

.menu.open .icon:before {
  transform: rotate(45deg) translate(7px, -7px);
  background-color: var(--dark);
  /* Dark icon when open */
}

.menu.open .icon:after {
  transform: rotate(-45deg) translate(7px, 7px);
  background-color: var(--dark);
  /* Dark icon when open */
}

.fullscreen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 242, 242, 1);
  color: var(--dark);
  text-align: center;
  z-index: 1;
  transition: 0.5s;
}

.fullscreen-menu.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreen-menu img {
  max-width: 150px;
  margin-bottom: 20px;
}

.fullscreen-menu nav {
  margin-bottom: 25px;
}

.fullscreen-menu nav a {
  font-size: 2em;
  margin: 15px 0;
  text-decoration: none;
  color: var(--dark);
  display: block;
  /* Vertical menu */
}

.logo {
  width: 40%;
  margin-bottom: 50px;
}
/* Social Icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #5e5e5e;
  font-size: 25px;
  transition: all 0.3s;
  text-decoration: none;
}

.social-icon:hover {
  transform: scale(1.1);
  color: #000;
  border-color: #aaa;
}

.social-icon .fa {
  margin: 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {

  .logo-desktop,
  .welcome-text {
    display: none;
  }

  .logo-mobile,
  .mobile-photography-text {
    display: inline;
    font-weight: 300;
  }
}

@media (min-width: 769px) {

  .logo-desktop,
  .welcome-text {
    display: inline;
  }

  .logo-mobile,
  .mobile-photography-text {
    display: none;
  }
}

.about-text {
  max-width: 600px;
  text-align: justify;
  padding: 15px;
  margin: auto 15px 25px;
  background: rgba(18, 18, 18, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
}

.contact-info {
  margin-bottom: 60px;
  padding: 15px 20px 25px;
  background: rgba(67, 67, 67, 0.18);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
}

.mail-link {
  text-decoration: none;
  color: inherit;
}

.cta p {
  margin-bottom: 40px;
}

.cta-button {
  text-decoration: none;
  color: inherit;
  padding: 15px;
  background-color: var(--dark);
  border-radius: 10px;
}

.cta-button:hover {
  background-color: var(--color);
  color: var(--dark);
}

@media (max-width: 768px) {

.cta {
  margin: auto 40px;
}
}

/*GALLERY*/

.photography {
  background-color: #171616;
}

.logoLens {
  max-width: 170px;
  margin: auto;
}

.sub-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.sub-menu i {
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
}

.sub-menu a {
  margin: 15px;
  text-decoration: none;
  color: var(--light);
}

.icon-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}

/* Estilo para pantallas más grandes */
@media (min-width: 769px) {
  .label {
    font-size: 20px; /* o cualquier otro tamaño que prefiera */
  }
}

@media (max-width: 768px) {
  .label {
    font-size: 18px; /* o cualquier otro tamaño que prefiera */
  }

  .logo {
    width: 65%;
  }
}
  
  /* Estilo para la galería masonry */
.gallery {
    column-count: 4;
    column-gap: 16px;
    margin: 20px;
  }
  
  .gallery-item {
    width: 100%;
    margin-bottom: 16px;
  }

  @media (min-width: 2560px) { /* Otra resolución que prefieras para monitores ultrawide */
    .gallery {
      column-count: 5;
    }
  }

  @media (max-width: 1920px) {
    .gallery {
      column-count: 4;
    }
  }

  @media (max-width: 1200px) {
    .gallery {
      column-count: 3;
    }
  }
  
  @media (max-width: 992px) {
    .gallery {
      column-count: 2;
    }
  }
  
  @media (max-width: 768px) {
    .gallery {
      column-count: 1;
    }

    .sub-menu a {
      margin: 0 1px; /* Reducir el margen en dispositivos más pequeños */
    }

    .sub-menu {
      padding: 0 1px; /* Agregar algo de relleno para evitar que los elementos se peguen a los lados */
    }
  }
  
  /* Estilo para lightbox */
  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }
  
  .lightbox-content {
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

/* botones lightbox */
.prev, .next {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .prev:focus, .next:focus {
    outline: none;
  }
  /* ... */

  @media (max-width: 768px) {
    .lightbox-content {
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: contain; /* Mantener las proporciones de la imagen */
    }
  
    .lightbox {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .close, .prev, .next {
      z-index: 1001; /* Por encima de .lightbox-content */
    }
  }

  #scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
  }
  
  #scrollToTopButton:hover {
    background-color: #333;
  }

  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 20px; /* Usa padding en lugar de margin para asegurar que no exceda el ancho */
    box-sizing: border-box; /* Asegúrate de que el padding se incluya en el ancho total */
    align-items: center;
    justify-content: center;
    color: var(--light);
    text-align: center;
    overflow: hidden; /* Asegúrate de ocultar cualquier contenido que se desborde */
  }
  
  footer p {
    margin: 0 10px; /* Ajusta los márgenes según sea necesario */
  }
  
  footer a {
    color: var(--color);
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      padding: 0;
      margin: 0 0 25px;
    }
    
    footer p {
      margin: 5px 0; /* Ajusta los márgenes para la visualización en móviles */
    }
  }
  
  