
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    text-align: center;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 150px;
    margin-bottom: 50px;
}

.menu {
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.menu-item {
    display: inline-block;
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
}

.grid-container {
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 95%;
    margin: 0 auto 100px;
}

.grid-container div {
    width: 100%;
    margin: 0 1.5rem 1.5rem 0;
    border: solid 1px #aaaaaa;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.grid-container div img {
    width: 100%;
    padding: 5px 5px 1px 5px;
    transition: all 0.25s ease-in-out;
    filter: grayscale(100%);
}

.grid-container div:hover img {
    filter: grayscale(0);
    transform: scale(1.2);
}

.grid-container div:hover {
    border-color: rgb(0, 0, 0);
}

/* Dentro de la media query para dispositivos móviles */
@media only screen and (max-width: 600px) {

    .header {
        margin: 0 0 0 1.6rem;
    }
   
    .grid-container {
        margin: 0 0 0 1.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .grid-container div {
        width: 95%;
        display: inline-block;
        border: solid 1px #aaaaaa;
        padding: 0; /* Elimina el espacio entre las imágenes */
        box-shadow: none; /* Elimina la sombra */
    }

    .grid-container div img {
        width: 100%;
        height: auto; /* Asegura que la imagen conserve su proporción */
        filter: grayscale(100%);
        transition: all 0.25s ease-in-out;
    }

    .overlay-image {
        max-width: 100%; /* Ocupa todo el ancho de la pantalla */
        max-height: 100vh; /* Ocupa todo el alto de la pantalla */
        object-fit: contain; /* Asegura que la imagen se ajuste al área disponible */
    }

    .nav-btns {
        display: none; /* Oculta los botones de navegación */
    }
}

/* Tu estilo de overlay aquí */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.overlay-content {
    display: none;
    flex-direction: column;
    align-items: center;
}

.overlay-image {
    max-width: 90%;
    max-height: 95vh;
    object-fit: contain;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1000;
}

.nav-btns {
    margin-top: 10px;
}

.prev-btn {
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 10px;
    transform: scaleX(-1);
}

.next-btn {
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 10px;
    transform: scaleX(-1); /* Invierte horizontalmente el icono */
}

.image-description {
    margin-top: 20px;
    color: white;
}
