/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

header {
  width: 100%;
  background-color: #090909;
}

/* Fondo que ocupa el 100% del ancho */
.topbar-bg {
  background-color: #fafafa;
  width: 100%;
  padding: 10px 0;
}

/* Contenedor general limitado a 1200px */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social a {
  margin-right: 10px;
  color: #080808;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
}

.navbar a {
  text-decoration: none;
  color: #fdfcfc;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}

/* Desktop Navigation */
.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #fdfcfc;
  font-size: 18px;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.nav-list li a:hover {
  color: #048ecf;
}

.nav-list li a.active {
  color: #048ecf;  /* O cualquier color que prefieras para el enlace activo */
  font-weight: bold;  /* Puedes añadir más estilos según lo necesites */
}

/* Mobile Menu (hidden by default) */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fdfcfc;
  margin: 0 0 4px 0;
  transition: 0.3s;
}

/* Transición del icono "hamburger" a "X" */
.menu-toggle.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 768px) {
  .menu-toggle {
      display: flex;
      align-items: center;
      position: relative;
      right: 0;
      margin-left: 10px;
  }

  .logo {
      display: flex;
      align-items: center;
  }

  .nav-list {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background-color: #0a0a0a;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .nav-list.active {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  }

  .nav-list li {
      margin: 20px 0;
  }

  .nav-list li a {
      font-size: 1.7em;
  }
}
